## Optimize the Model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 

charity1_df = pd.read_csv("Resources/charity_data.csv")
charity1_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [27]:
# Drop the non-beneficial EIN column

charity2_df = charity1_df.drop(['EIN'], axis=1, inplace=False)
charity2_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [28]:
# display the number of unique values

for col in charity2_df.columns:
    print(col, len(charity2_df[col].unique().tolist()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [29]:
# Look at NAME value counts for binning

name_types = charity2_df['NAME'].value_counts()
name_types

PARENT BOOSTER USA INC                                          1260
TOPS CLUB INC                                                    765
UNITED STATES BOWLING CONGRESS INC                               700
WASHINGTON STATE UNIVERSITY                                      492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                  408
                                                                ...
RONALD MCDONALD HOUSE CHARITIES INC                                1
WHARTON COUNTY STRAY PET OUTREACH TEAM                             1
INTERNATIONAL COMMUNITY SCHOOLS INC                                1
INTERNATIONAL HOSPITALITY INFORMATION TECHNOLOGY ASSOCIATION       1
CHRISTUS SCHUMPERT MEDICAL CENTER                                  1
Name: NAME, Length: 19568, dtype: int64

In [26]:
name_types[name_types > 45]

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
LAMBDA THETA ALPHA                                                      52
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
UNIVERSITY OF FLORIDA                                                   50
UNITED FEDERATION OF DOLL CLUBS INC                                     50
AMERICAN YOUTH FOOTBALL INC                                             49
INTERNATIONAL MOUNTAIN BICYCLING ASSOCIATION - COLORADO                 46
MUSIC TEACHERS NATIONAL ASSOCIATION INC                                 46
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC                            46
Name: NAME, dtype: int64

In [31]:
# Determine which values to replace if counts are less than or equal to 5.

name_types_to_replace = list(name_types[name_types <= 5].index)

# Replace in dataframe
for name in name_types_to_replace:
    charity2_df['NAME'] = charity2_df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
charity2_df['NAME'].value_counts()

Other                                                         20043
PARENT BOOSTER USA INC                                         1260
TOPS CLUB INC                                                   765
UNITED STATES BOWLING CONGRESS INC                              700
WASHINGTON STATE UNIVERSITY                                     492
                                                              ...
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC                         6
DELTA KAPPA GAMMA SOCIETY INTERNATIONAL                           6
AMERICAN INDEPENDENT BUSINESS ALLIANCE                            6
OFFICE AND PROFESSIONAL EMPLOYEES INTERNATIONAL UNION             6
DEPARTMENT OF OREGON LADIES AUXILLARY TO THE VFW OF THE US        6
Name: NAME, Length: 355, dtype: int64

In [32]:
# Look at APPLICATION_TYPE value counts for binning

application_types = charity2_df['APPLICATION_TYPE'].value_counts()
application_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [33]:
# Determine which values to replace if application counts are less than 500

application_types_to_replace = list(application_types[application_types < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    charity2_df['APPLICATION_TYPE'] = charity2_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
charity2_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [34]:
# Look at CLASSIFICATION value counts for binning

class_types = charity2_df['CLASSIFICATION'].value_counts()
class_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1236        1
C6100        1
C1370        1
C4120        1
C1728        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [35]:
# Determine which values to replace if counts are less than 1000

class_types_to_replace = list(class_types[class_types < 1000].index)

# Replace in dataframe
for cls in class_types_to_replace:
    charity2_df['CLASSIFICATION'] = charity2_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
charity2_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [41]:
# Generate our categorical variable lists

charity2_df.columns.tolist()

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'ASK_AMT',
 'IS_SUCCESSFUL']

In [42]:
# perform one-hot encoding on the data

charity3_df = pd.get_dummies(charity2_df)
charity3_df.shape

(34299, 399)

In [43]:
# Split our preprocessed data into our features and target arrays

y = charity3_df['IS_SUCCESSFUL'].values
X = charity3_df.drop(['IS_SUCCESSFUL'], 1).values

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [44]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

len(X_train[0])

398

In [46]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 100)               39900

 dense_5 (Dense)             (None, 30)                3030

 dense_6 (Dense)             (None, 10)                310

 dense_7 (Dense)             (None, 1)                 11

=================================================================
Total params: 43,251
Trainable params: 43,251
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [48]:
# Train the model

fit_model = nn.fit(X_train_scaled,y_train,epochs=100, verbose=1)

Epoch 1/100
804/804 [==============================] - 1s 724us/step - loss: 0.4967 - accuracy: 0.7715
Epoch 2/100
804/804 [==============================] - 1s 713us/step - loss: 0.4402 - accuracy: 0.7946
Epoch 3/100
804/804 [==============================] - 1s 736us/step - loss: 0.4322 - accuracy: 0.7965
Epoch 4/100
804/804 [==============================] - 1s 727us/step - loss: 0.4282 - accuracy: 0.7999
Epoch 5/100
804/804 [==============================] - 1s 740us/step - loss: 0.4251 - accuracy: 0.7986
Epoch 6/100
804/804 [==============================] - 1s 708us/step - loss: 0.4234 - accuracy: 0.7983
Epoch 7/100
804/804 [==============================] - 1s 706us/step - loss: 0.4221 - accuracy: 0.7989
Epoch 8/100
804/804 [==============================] - 1s 706us/step - loss: 0.4209 - accuracy: 0.8003
Epoch 9/100
804/804 [==============================] - 1s 711us/step - loss: 0.4196 - accuracy: 0.8007
Epoch 10/100
804/804 [==============================] - 1s 708us/step - loss: 0.4184 - accuracy: 0.8014
Epoch 11/100
804/804 [==============================] - 1s 727us/step - loss: 0.4178 - accuracy: 0.8006
Epoch 12/100
804/804 [==============================] - 1s 720us/step - loss: 0.4172 - accuracy: 0.8001
Epoch 13/100
804/804 [==============================] - 1s 712us/step - loss: 0.4164 - accuracy: 0.8015
Epoch 14/100
804/804 [==============================] - 1s 712us/step - loss: 0.4159 - accuracy: 0.8023
Epoch 15/100
804/804 [==============================] - 1s 712us/step - loss: 0.4152 - accuracy: 0.8028
Epoch 16/100
804/804 [==============================] - 1s 710us/step - loss: 0.4146 - accuracy: 0.8019
Epoch 17/100
804/804 [==============================] - 1s 707us/step - loss: 0.4141 - accuracy: 0.8039
Epoch 18/100
804/804 [==============================] - 1s 710us/step - loss: 0.4136 - accuracy: 0.8025
Epoch 19/100
804/804 [==============================] - 1s 710us/step - loss: 0.4129 - accuracy: 0.8033
Epoch 20/100
804/804 [==============================] - 1s 713us/step - loss: 0.4125 - accuracy: 0.8042
Epoch 21/100
804/804 [==============================] - 1s 702us/step - loss: 0.4118 - accuracy: 0.8022
Epoch 22/100
804/804 [==============================] - 1s 706us/step - loss: 0.4116 - accuracy: 0.8033
Epoch 23/100
804/804 [==============================] - 1s 704us/step - loss: 0.4113 - accuracy: 0.8038
Epoch 24/100
804/804 [==============================] - 1s 705us/step - loss: 0.4108 - accuracy: 0.8037
Epoch 25/100
804/804 [==============================] - 1s 706us/step - loss: 0.4101 - accuracy: 0.8051
Epoch 26/100
804/804 [==============================] - 1s 719us/step - loss: 0.4094 - accuracy: 0.8036
Epoch 27/100
804/804 [==============================] - 1s 712us/step - loss: 0.4089 - accuracy: 0.8039
Epoch 28/100
804/804 [==============================] - 1s 736us/step - loss: 0.4087 - accuracy: 0.8047
Epoch 29/100
804/804 [==============================] - 1s 716us/step - loss: 0.4084 - accuracy: 0.8045
Epoch 30/100
804/804 [==============================] - 1s 714us/step - loss: 0.4086 - accuracy: 0.8051
Epoch 31/100
804/804 [==============================] - 1s 746us/step - loss: 0.4076 - accuracy: 0.8052
Epoch 32/100
804/804 [==============================] - 1s 775us/step - loss: 0.4078 - accuracy: 0.8048
Epoch 33/100
804/804 [==============================] - 1s 772us/step - loss: 0.4071 - accuracy: 0.8065
Epoch 34/100
804/804 [==============================] - 1s 723us/step - loss: 0.4070 - accuracy: 0.8061
Epoch 35/100
804/804 [==============================] - 1s 726us/step - loss: 0.4068 - accuracy: 0.8055
Epoch 36/100
804/804 [==============================] - 1s 736us/step - loss: 0.4064 - accuracy: 0.8066
Epoch 37/100
804/804 [==============================] - 1s 733us/step - loss: 0.4061 - accuracy: 0.8057
Epoch 38/100
804/804 [==============================] - 1s 741us/step - loss: 0.4056 - accuracy: 0.8062
Epoch 39/100
804/804 [==============================] - 1s 742us/step - loss: 0.4056 - accuracy: 0.8062
Epoch 40/100
804/804 [==============================] - 1s 729us/step - loss: 0.4052 - accuracy: 0.8063
Epoch 41/100
804/804 [==============================] - 1s 745us/step - loss: 0.4054 - accuracy: 0.8056
Epoch 42/100
804/804 [==============================] - 1s 733us/step - loss: 0.4056 - accuracy: 0.8074
Epoch 43/100
804/804 [==============================] - 1s 736us/step - loss: 0.4049 - accuracy: 0.8065
Epoch 44/100
804/804 [==============================] - 1s 735us/step - loss: 0.4046 - accuracy: 0.8065
Epoch 45/100
804/804 [==============================] - 1s 746us/step - loss: 0.4043 - accuracy: 0.8063
Epoch 46/100
804/804 [==============================] - 1s 744us/step - loss: 0.4041 - accuracy: 0.8067
Epoch 47/100
804/804 [==============================] - 1s 744us/step - loss: 0.4038 - accuracy: 0.8070
Epoch 48/100
804/804 [==============================] - 1s 757us/step - loss: 0.4039 - accuracy: 0.8063
Epoch 49/100
804/804 [==============================] - 1s 739us/step - loss: 0.4034 - accuracy: 0.8067
Epoch 50/100
804/804 [==============================] - 1s 744us/step - loss: 0.4034 - accuracy: 0.8068
Epoch 51/100
804/804 [==============================] - 1s 746us/step - loss: 0.4029 - accuracy: 0.8070
Epoch 52/100
804/804 [==============================] - 1s 745us/step - loss: 0.4029 - accuracy: 0.8071
Epoch 53/100
804/804 [==============================] - 1s 746us/step - loss: 0.4028 - accuracy: 0.8071
Epoch 54/100
804/804 [==============================] - 1s 748us/step - loss: 0.4024 - accuracy: 0.8064
Epoch 55/100
804/804 [==============================] - 1s 748us/step - loss: 0.4029 - accuracy: 0.8069
Epoch 56/100
804/804 [==============================] - 1s 747us/step - loss: 0.4024 - accuracy: 0.8064
Epoch 57/100
804/804 [==============================] - 1s 747us/step - loss: 0.4024 - accuracy: 0.8078
Epoch 58/100
804/804 [==============================] - 1s 748us/step - loss: 0.4018 - accuracy: 0.8069
Epoch 59/100
804/804 [==============================] - 1s 755us/step - loss: 0.4017 - accuracy: 0.8069
Epoch 60/100
804/804 [==============================] - 1s 746us/step - loss: 0.4017 - accuracy: 0.8072
Epoch 61/100
804/804 [==============================] - 1s 748us/step - loss: 0.4018 - accuracy: 0.8075
Epoch 62/100
804/804 [==============================] - 1s 833us/step - loss: 0.4018 - accuracy: 0.8078
Epoch 63/100
804/804 [==============================] - 1s 750us/step - loss: 0.4016 - accuracy: 0.8067
Epoch 64/100
804/804 [==============================] - 1s 761us/step - loss: 0.4015 - accuracy: 0.8069
Epoch 65/100
804/804 [==============================] - 1s 762us/step - loss: 0.4012 - accuracy: 0.8082
Epoch 66/100
804/804 [==============================] - 1s 756us/step - loss: 0.4013 - accuracy: 0.8073
Epoch 67/100
804/804 [==============================] - 1s 755us/step - loss: 0.4013 - accuracy: 0.8081
Epoch 68/100
804/804 [==============================] - 1s 749us/step - loss: 0.4009 - accuracy: 0.8082
Epoch 69/100
804/804 [==============================] - 1s 763us/step - loss: 0.4007 - accuracy: 0.8080
Epoch 70/100
804/804 [==============================] - 1s 757us/step - loss: 0.4010 - accuracy: 0.8075
Epoch 71/100
804/804 [==============================] - 1s 761us/step - loss: 0.4012 - accuracy: 0.8082
Epoch 72/100
804/804 [==============================] - 1s 759us/step - loss: 0.4006 - accuracy: 0.8082
Epoch 73/100
804/804 [==============================] - 1s 760us/step - loss: 0.4009 - accuracy: 0.8075
Epoch 74/100
804/804 [==============================] - 1s 788us/step - loss: 0.4001 - accuracy: 0.8081
Epoch 75/100
804/804 [==============================] - 1s 794us/step - loss: 0.4006 - accuracy: 0.8088
Epoch 76/100
804/804 [==============================] - 1s 824us/step - loss: 0.4004 - accuracy: 0.8075
Epoch 77/100
804/804 [==============================] - 1s 820us/step - loss: 0.4004 - accuracy: 0.8084
Epoch 78/100
804/804 [==============================] - 1s 815us/step - loss: 0.4002 - accuracy: 0.8087
Epoch 79/100

804/804 [==============================] - 1s 762us/step - loss: 0.3996 - accuracy: 0.8084
Epoch 80/100
804/804 [==============================] - 1s 755us/step - loss: 0.3999 - accuracy: 0.8085
Epoch 81/100
804/804 [==============================] - 1s 757us/step - loss: 0.4004 - accuracy: 0.8088
Epoch 82/100
804/804 [==============================] - 1s 767us/step - loss: 0.4000 - accuracy: 0.8085
Epoch 83/100
804/804 [==============================] - 1s 764us/step - loss: 0.4000 - accuracy: 0.8092
Epoch 84/100
804/804 [==============================] - 1s 787us/step - loss: 0.3995 - accuracy: 0.8084
Epoch 85/100
804/804 [==============================] - 1s 786us/step - loss: 0.3997 - accuracy: 0.8078
Epoch 86/100
804/804 [==============================] - 1s 767us/step - loss: 0.3993 - accuracy: 0.8080
Epoch 87/100
804/804 [==============================] - 1s 775us/step - loss: 0.3999 - accuracy: 0.8085
Epoch 88/100
804/804 [==============================] - 1s 766us/step - loss: 0.3994 - accuracy: 0.8080
Epoch 89/100
804/804 [==============================] - 1s 762us/step - loss: 0.3995 - accuracy: 0.8085
Epoch 90/100
804/804 [==============================] - 1s 768us/step - loss: 0.3995 - accuracy: 0.8088
Epoch 91/100
804/804 [==============================] - 1s 768us/step - loss: 0.3991 - accuracy: 0.8091
Epoch 92/100
804/804 [==============================] - 1s 773us/step - loss: 0.3988 - accuracy: 0.8082
Epoch 93/100
804/804 [==============================] - 1s 834us/step - loss: 0.3987 - accuracy: 0.8094
Epoch 94/100
804/804 [==============================] - 1s 971us/step - loss: 0.3991 - accuracy: 0.8094
Epoch 95/100
804/804 [==============================] - 1s 886us/step - loss: 0.3996 - accuracy: 0.8091
Epoch 96/100
804/804 [==============================] - 1s 917us/step - loss: 0.3991 - accuracy: 0.8097
Epoch 97/100
804/804 [==============================] - 1s 892us/step - loss: 0.3987 - accuracy: 0.8095
Epoch 98/100
804/804 [==============================] - 1s 886us/step - loss: 0.3987 - accuracy: 0.8091
Epoch 99/100
804/804 [==============================] - 1s 916us/step - loss: 0.3988 - accuracy: 0.8091
Epoch 100/100
804/804 [==============================] - 1s 894us/step - loss: 0.3986 - accuracy: 0.8095

In [57]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss*100:2.1f}%, Accuracy: {model_accuracy*100:2.1f}%")

268/268 - 0s - loss: 0.4714 - accuracy: 0.7866 - 131ms/epoch - 487us/step
Loss: 47.1%, Accuracy: 78.7%

In [58]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [60]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [61]:
# Create a random forest classifier.

rf_model = RandomForestClassifier(n_estimators=128, random_state=42)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f"Accuracy: {accuracy_score(y_test, y_pred)*100:2.1f}%")

Accuracy: 77.2%