## Preprocessing

In [28]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd

charity1_df = pd.read_csv("Resources/charity_data.csv")
charity1_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [29]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

charity2_df = charity1_df.drop(['EIN', 'NAME'], axis=1, inplace=False)
charity2_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [30]:
# Determine the number of unique values in each column.

for col in charity2_df.columns:
    print(col, len(charity2_df[col].unique().tolist()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [31]:
# Look at APPLICATION_TYPE value counts for binning

application_types = charity2_df['APPLICATION_TYPE'].value_counts()
application_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [32]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(application_types[application_types < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    charity2_df['APPLICATION_TYPE'] = charity2_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
charity2_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [33]:
# Look at CLASSIFICATION value counts for binning

class_types = charity2_df['CLASSIFICATION'].value_counts()
class_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C1236        1
C6100        1
C4500        1
C8210        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [34]:
# You may find it helpful to look at CLASSIFICATION value counts >1

class_types[class_types >= 20]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
Name: CLASSIFICATION, dtype: int64

In [35]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

class_types_to_replace = list(class_types[class_types < 300].index)

# Replace in dataframe
for cls in class_types_to_replace:
    charity2_df['CLASSIFICATION'] = charity2_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
charity2_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [36]:
# Convert categorical data to numeric with `pd.get_dummies`

charity3_df = pd.get_dummies(charity2_df)
charity3_df.shape

(34299, 45)

In [37]:
# Split our preprocessed data into our features and target arrays

y = charity3_df['IS_SUCCESSFUL'].values
X = charity3_df.drop(['IS_SUCCESSFUL'], 1).values

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [38]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

len(X_train[0])

44

## Compile, Train and Evaluate the Model

In [39]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train[0])
hidden_nodes_layer1 =  22
hidden_nodes_layer2 = 11

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_36 (Dense)            (None, 22)                990

 dense_37 (Dense)            (None, 11)                253

 dense_38 (Dense)            (None, 1)                 12

=================================================================
Total params: 1,255
Trainable params: 1,255
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Train the model

fit_model = nn.fit(X_train_scaled,y_train,epochs=100, verbose=2)

Epoch 1/100
804/804 - 1s - loss: 0.5829 - accuracy: 0.7117 - 592ms/epoch - 736us/step
Epoch 2/100
804/804 - 0s - loss: 0.5557 - accuracy: 0.7291 - 387ms/epoch - 481us/step
Epoch 3/100
804/804 - 0s - loss: 0.5524 - accuracy: 0.7299 - 389ms/epoch - 483us/step
Epoch 4/100
804/804 - 0s - loss: 0.5506 - accuracy: 0.7297 - 386ms/epoch - 480us/step
Epoch 5/100
804/804 - 0s - loss: 0.5495 - accuracy: 0.7308 - 392ms/epoch - 487us/step
Epoch 6/100
804/804 - 0s - loss: 0.5488 - accuracy: 0.7317 - 386ms/epoch - 480us/step
Epoch 7/100
804/804 - 0s - loss: 0.5479 - accuracy: 0.7326 - 395ms/epoch - 491us/step
Epoch 8/100
804/804 - 0s - loss: 0.5469 - accuracy: 0.7324 - 388ms/epoch - 483us/step
Epoch 9/100
804/804 - 0s - loss: 0.5468 - accuracy: 0.7334 - 386ms/epoch - 480us/step
Epoch 10/100
804/804 - 0s - loss: 0.5462 - accuracy: 0.7329 - 413ms/epoch - 514us/step
Epoch 11/100
804/804 - 0s - loss: 0.5459 - accuracy: 0.7341 - 410ms/epoch - 511us/step
Epoch 12/100
804/804 - 0s - loss: 0.5451 - accuracy: 0.7342 - 426ms/epoch - 530us/step
Epoch 13/100
804/804 - 0s - loss: 0.5452 - accuracy: 0.7335 - 410ms/epoch - 510us/step
Epoch 14/100
804/804 - 0s - loss: 0.5446 - accuracy: 0.7332 - 387ms/epoch - 482us/step
Epoch 15/100
804/804 - 0s - loss: 0.5440 - accuracy: 0.7333 - 388ms/epoch - 482us/step
Epoch 16/100
804/804 - 0s - loss: 0.5448 - accuracy: 0.7339 - 406ms/epoch - 505us/step
Epoch 17/100
804/804 - 0s - loss: 0.5441 - accuracy: 0.7345 - 409ms/epoch - 509us/step
Epoch 18/100
804/804 - 0s - loss: 0.5435 - accuracy: 0.7338 - 408ms/epoch - 508us/step
Epoch 19/100
804/804 - 0s - loss: 0.5432 - accuracy: 0.7348 - 397ms/epoch - 493us/step
Epoch 20/100
804/804 - 0s - loss: 0.5434 - accuracy: 0.7344 - 384ms/epoch - 477us/step
Epoch 21/100
804/804 - 0s - loss: 0.5433 - accuracy: 0.7357 - 383ms/epoch - 477us/step
Epoch 22/100
804/804 - 0s - loss: 0.5431 - accuracy: 0.7348 - 382ms/epoch - 476us/step
Epoch 23/100
804/804 - 0s - loss: 0.5425 - accuracy: 0.7344 - 382ms/epoch - 475us/step
Epoch 24/100
804/804 - 0s - loss: 0.5422 - accuracy: 0.7350 - 384ms/epoch - 477us/step
Epoch 25/100
804/804 - 0s - loss: 0.5423 - accuracy: 0.7353 - 386ms/epoch - 480us/step
Epoch 26/100
804/804 - 0s - loss: 0.5420 - accuracy: 0.7355 - 380ms/epoch - 473us/step
Epoch 27/100
804/804 - 0s - loss: 0.5417 - accuracy: 0.7350 - 382ms/epoch - 475us/step
Epoch 28/100
804/804 - 0s - loss: 0.5418 - accuracy: 0.7360 - 384ms/epoch - 478us/step
Epoch 29/100
804/804 - 0s - loss: 0.5418 - accuracy: 0.7358 - 381ms/epoch - 474us/step
Epoch 30/100
804/804 - 0s - loss: 0.5413 - accuracy: 0.7357 - 393ms/epoch - 489us/step
Epoch 31/100
804/804 - 0s - loss: 0.5411 - accuracy: 0.7358 - 379ms/epoch - 472us/step
Epoch 32/100
804/804 - 0s - loss: 0.5410 - accuracy: 0.7360 - 382ms/epoch - 475us/step
Epoch 33/100
804/804 - 0s - loss: 0.5408 - accuracy: 0.7349 - 383ms/epoch - 477us/step
Epoch 34/100
804/804 - 0s - loss: 0.5401 - accuracy: 0.7358 - 385ms/epoch - 479us/step
Epoch 35/100
804/804 - 0s - loss: 0.5407 - accuracy: 0.7362 - 380ms/epoch - 473us/step
Epoch 36/100
804/804 - 0s - loss: 0.5407 - accuracy: 0.7356 - 385ms/epoch - 479us/step
Epoch 37/100
804/804 - 0s - loss: 0.5403 - accuracy: 0.7371 - 382ms/epoch - 475us/step
Epoch 38/100
804/804 - 0s - loss: 0.5401 - accuracy: 0.7362 - 381ms/epoch - 474us/step
Epoch 39/100
804/804 - 0s - loss: 0.5403 - accuracy: 0.7361 - 382ms/epoch - 475us/step
Epoch 40/100
804/804 - 0s - loss: 0.5401 - accuracy: 0.7364 - 383ms/epoch - 476us/step
Epoch 41/100
804/804 - 0s - loss: 0.5402 - accuracy: 0.7359 - 386ms/epoch - 480us/step
Epoch 42/100
804/804 - 0s - loss: 0.5398 - accuracy: 0.7355 - 380ms/epoch - 472us/step
Epoch 43/100
804/804 - 0s - loss: 0.5400 - accuracy: 0.7355 - 381ms/epoch - 474us/step
Epoch 44/100
804/804 - 0s - loss: 0.5395 - accuracy: 0.7362 - 385ms/epoch - 479us/step
Epoch 45/100
804/804 - 0s - loss: 0.5393 - accuracy: 0.7367 - 382ms/epoch - 475us/step
Epoch 46/100
804/804 - 0s - loss: 0.5395 - accuracy: 0.7362 - 385ms/epoch - 479us/step
Epoch 47/100
804/804 - 0s - loss: 0.5393 - accuracy: 0.7372 - 379ms/epoch - 472us/step
Epoch 48/100
804/804 - 0s - loss: 0.5392 - accuracy: 0.7375 - 380ms/epoch - 473us/step
Epoch 49/100
804/804 - 0s - loss: 0.5393 - accuracy: 0.7359 - 384ms/epoch - 478us/step
Epoch 50/100
804/804 - 0s - loss: 0.5391 - accuracy: 0.7362 - 380ms/epoch - 473us/step
Epoch 51/100
804/804 - 0s - loss: 0.5390 - accuracy: 0.7369 - 382ms/epoch - 476us/step
Epoch 52/100
804/804 - 0s - loss: 0.5391 - accuracy: 0.7362 - 381ms/epoch - 474us/step
Epoch 53/100
804/804 - 0s - loss: 0.5393 - accuracy: 0.7365 - 385ms/epoch - 479us/step
Epoch 54/100
804/804 - 0s - loss: 0.5391 - accuracy: 0.7365 - 377ms/epoch - 469us/step
Epoch 55/100
804/804 - 0s - loss: 0.5389 - accuracy: 0.7364 - 379ms/epoch - 471us/step
Epoch 56/100
804/804 - 0s - loss: 0.5388 - accuracy: 0.7355 - 383ms/epoch - 476us/step
Epoch 57/100
804/804 - 0s - loss: 0.5392 - accuracy: 0.7363 - 378ms/epoch - 471us/step
Epoch 58/100
804/804 - 0s - loss: 0.5386 - accuracy: 0.7363 - 377ms/epoch - 469us/step
Epoch 59/100
804/804 - 0s - loss: 0.5386 - accuracy: 0.7365 - 378ms/epoch - 470us/step
Epoch 60/100
804/804 - 0s - loss: 0.5386 - accuracy: 0.7362 - 395ms/epoch - 491us/step
Epoch 61/100
804/804 - 0s - loss: 0.5386 - accuracy: 0.7364 - 394ms/epoch - 490us/step
Epoch 62/100
804/804 - 0s - loss: 0.5386 - accuracy: 0.7369 - 381ms/epoch - 474us/step
Epoch 63/100
804/804 - 0s - loss: 0.5384 - accuracy: 0.7382 - 385ms/epoch - 479us/step
Epoch 64/100
804/804 - 0s - loss: 0.5381 - accuracy: 0.7381 - 387ms/epoch - 481us/step
Epoch 65/100
804/804 - 0s - loss: 0.5381 - accuracy: 0.7366 - 382ms/epoch - 475us/step
Epoch 66/100
804/804 - 0s - loss: 0.5385 - accuracy: 0.7371 - 383ms/epoch - 476us/step
Epoch 67/100
804/804 - 0s - loss: 0.5383 - accuracy: 0.7368 - 386ms/epoch - 480us/step
Epoch 68/100
804/804 - 0s - loss: 0.5380 - accuracy: 0.7370 - 381ms/epoch - 474us/step
Epoch 69/100
804/804 - 0s - loss: 0.5379 - accuracy: 0.7369 - 386ms/epoch - 480us/step
Epoch 70/100
804/804 - 0s - loss: 0.5383 - accuracy: 0.7376 - 389ms/epoch - 484us/step
Epoch 71/100
804/804 - 0s - loss: 0.5383 - accuracy: 0.7371 - 383ms/epoch - 476us/step
Epoch 72/100
804/804 - 0s - loss: 0.5380 - accuracy: 0.7371 - 383ms/epoch - 476us/step
Epoch 73/100
804/804 - 0s - loss: 0.5380 - accuracy: 0.7367 - 383ms/epoch - 476us/step
Epoch 74/100
804/804 - 0s - loss: 0.5376 - accuracy: 0.7379 - 382ms/epoch - 475us/step
Epoch 75/100
804/804 - 0s - loss: 0.5378 - accuracy: 0.7367 - 384ms/epoch - 478us/step
Epoch 76/100
804/804 - 0s - loss: 0.5382 - accuracy: 0.7369 - 386ms/epoch - 480us/step
Epoch 77/100
804/804 - 0s - loss: 0.5380 - accuracy: 0.7372 - 392ms/epoch - 488us/step
Epoch 78/100
804/804 - 0s - loss: 0.5380 - accuracy: 0.7372 - 384ms/epoch - 478us/step
Epoch 79/100
804/804 - 0s - loss: 0.5374 - accuracy: 0.7376 - 385ms/epoch - 478us/step
Epoch 80/100
804/804 - 0s - loss: 0.5377 - accuracy: 0.7374 - 389ms/epoch - 483us/step
Epoch 81/100
804/804 - 0s - loss: 0.5378 - accuracy: 0.7367 - 386ms/epoch - 480us/step
Epoch 82/100
804/804 - 0s - loss: 0.5376 - accuracy: 0.7375 - 402ms/epoch - 500us/step
Epoch 83/100
804/804 - 0s - loss: 0.5374 - accuracy: 0.7382 - 387ms/epoch - 481us/step
Epoch 84/100
804/804 - 0s - loss: 0.5371 - accuracy: 0.7370 - 389ms/epoch - 484us/step
Epoch 85/100
804/804 - 0s - loss: 0.5377 - accuracy: 0.7386 - 387ms/epoch - 481us/step
Epoch 86/100
804/804 - 0s - loss: 0.5372 - accuracy: 0.7373 - 395ms/epoch - 491us/step
Epoch 87/100
804/804 - 0s - loss: 0.5376 - accuracy: 0.7372 - 391ms/epoch - 487us/step
Epoch 88/100
804/804 - 0s - loss: 0.5375 - accuracy: 0.7373 - 414ms/epoch - 515us/step
Epoch 89/100
804/804 - 0s - loss: 0.5373 - accuracy: 0.7370 - 416ms/epoch - 517us/step
Epoch 90/100
804/804 - 0s - loss: 0.5373 - accuracy: 0.7367 - 420ms/epoch - 523us/step
Epoch 91/100
804/804 - 0s - loss: 0.5373 - accuracy: 0.7378 - 433ms/epoch - 539us/step
Epoch 92/100
804/804 - 0s - loss: 0.5372 - accuracy: 0.7374 - 411ms/epoch - 511us/step
Epoch 93/100
804/804 - 0s - loss: 0.5371 - accuracy: 0.7379 - 408ms/epoch - 508us/step
Epoch 94/100
804/804 - 0s - loss: 0.5372 - accuracy: 0.7376 - 395ms/epoch - 492us/step
Epoch 95/100
804/804 - 0s - loss: 0.5371 - accuracy: 0.7380 - 399ms/epoch - 497us/step

Epoch 96/100
804/804 - 0s - loss: 0.5372 - accuracy: 0.7380 - 393ms/epoch - 489us/step
Epoch 97/100
804/804 - 0s - loss: 0.5371 - accuracy: 0.7382 - 405ms/epoch - 504us/step
Epoch 98/100
804/804 - 0s - loss: 0.5370 - accuracy: 0.7380 - 404ms/epoch - 503us/step
Epoch 99/100
804/804 - 0s - loss: 0.5370 - accuracy: 0.7383 - 404ms/epoch - 503us/step
Epoch 100/100
804/804 - 0s - loss: 0.5369 - accuracy: 0.7381 - 414ms/epoch - 515us/step

In [42]:
# Evaluate the model using the test data

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss*100:2.1f}%, Accuracy: {model_accuracy*100:2.1f}%")

268/268 - 0s - loss: 0.5540 - accuracy: 0.7243 - 155ms/epoch - 579us/step
Loss: 55.4%, Accuracy: 72.4%

In [44]:
# Export our model to HDF5 file

nn.save("AlphabetSoupCharity.h5")

In [45]:
# Evaluate differect node sizes

number_input_features = len(X_train[0])

node_counts = [(160, 80), (120, 60), (100, 50), (80, 40), (60, 30), (40, 20), (20, 10)]

for i in node_counts:
    
    # Define the model
    hidden_nodes_layer1 =  i[0]
    hidden_nodes_layer2 = i[1]

    nn = tf.keras.models.Sequential()

    # First hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

    # Second hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

    # Output layer
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

    # Train the model
    fit_model = nn.fit(X_train_scaled,y_train,epochs=100, verbose=0)

    # Evaluate the model using the test data
    model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Nodes: {i}, Loss: {model_loss*100:2.1f}%, Accuracy: {model_accuracy*100:2.1f}%")

268/268 - 0s - loss: 0.5672 - accuracy: 0.7301 - 162ms/epoch - 604us/step
Nodes: (160, 80), Loss: 56.7%, Accuracy: 73.0%
268/268 - 0s - loss: 0.5663 - accuracy: 0.7317 - 185ms/epoch - 690us/step
Nodes: (120, 60), Loss: 56.6%, Accuracy: 73.2%
268/268 - 0s - loss: 0.5686 - accuracy: 0.7266 - 188ms/epoch - 703us/step
Nodes: (100, 50), Loss: 56.9%, Accuracy: 72.7%
268/268 - 0s - loss: 0.5605 - accuracy: 0.7318 - 192ms/epoch - 715us/step
Nodes: (80, 40), Loss: 56.1%, Accuracy: 73.2%
268/268 - 0s - loss: 0.5581 - accuracy: 0.7279 - 197ms/epoch - 735us/step
Nodes: (60, 30), Loss: 55.8%, Accuracy: 72.8%
268/268 - 0s - loss: 0.5554 - accuracy: 0.7292 - 190ms/epoch - 708us/step
Nodes: (40, 20), Loss: 55.5%, Accuracy: 72.9%
268/268 - 0s - loss: 0.5536 - accuracy: 0.7287 - 186ms/epoch - 696us/step
Nodes: (20, 10), Loss: 55.4%, Accuracy: 72.9%